@model List<Entities.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<a asp-action="Create" class="btn btn-primary">Create New Book</a>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
            <th>Total Pages</th>
            <th>Date Published</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Description</td>
                <td>@book.TotalPages</td>
                <td>@book.DatePublished.ToShortDateString()</td>
                <td>@book.IsRented</td>
                <td>
                    <a asp-action="Details" asp-route-id="@book.BookId" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@book.BookId" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@book.BookId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>